In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dataset.csv')
x_train = df.iloc[:, :-1].to_numpy()
y_train = df.iloc[:, -1].to_numpy()

In [3]:
df.head()

   0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  1.1
0  1  1  1  1  1  1 -1  1  1 -1  -1  -1   1   1  -1   1    1
1  1  1  1  1  1  1 -1  1 -1 -1  -1  -1  -1   1  -1   1    1
2  1  1  1  1  1 -1  1  1 -1 -1  -1   1   1  -1   1   1    1
3  1  1  1  1  1 -1  1  1 -1 -1  -1  -1   1  -1   1  -1    1
4  1  1  1  1  1 -1  1 -1 -1 -1  -1   1   1  -1   1   1    1